@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  min-height: 100vh;
  background: radial-gradient(circle at top, rgba(120, 92, 255, 0.25), transparent),
    radial-gradient(circle at bottom, rgba(70, 211, 255, 0.18), transparent),
    hsl(223 30% 8%);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.12);
}
